body {
  /* background: rgb(50, 149, 185); */
  background-image: linear-gradient(
      rgba(14, 39, 48, 0.7),
      rgba(228, 151, 93, 0.7)
    ),
    url("bg.jpg");
  background-position: center center;
  /* background-repeat: repeat; */
  background-size: cover;
  border: thick double orange;
  height: 95vh;
  text-align: center;
  padding-top: 1rem;
}
h1 {
  border-top: 7px solid black;
  border-bottom: 7px solid black;
  display: inline-block;
  font-size: 50px;
}
img {
  height: 200px;
  width: 200px;
  background: white;
  border: 4mm ridge orange;
  margin-bottom: 2rem;
}

.p {
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 1rem;
}
h3 {
  font-size: 25px;
}
.desc {
  font-style: italic;
}
